snippet --- "Horizontal line" b
------------------------------------------------------------------------------
endsnippet

snippet todo "TODO comment" bw
+ TODO `!v strftime('%c')` $0
endsnippet

# mathjax {{{
snippet tex "display math" b
$$
${0}
$$
endsnippet

snippet align "latex align" b
$$
\begin{align}
	${1} &= ${2} \\
\end{align}
$$

endsnippet

snippet frac "latex fraction"
\frac{${1}}{${2}}
endsnippet
# }}}
