snippet service "systemd service" b
[Unit]
Description=

[Service]
Type=simple
ExecStart=$0
endsnippet

snippet timer "systemd timer" b
[Unit]
Description=

[Timer]
OnCalendar=$0

[Install]
WantedBy=timers.target
endsnippet

snippet path "systemd path" b
[Unit]
Description=

[Path]
PathChanged=$0

[Install]
WantedBy=multi-user.target
endsnippet
